body .nav-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  position: relative; }
  body .nav-wrapper input {
    max-width: 30%;
    margin: auto 0; }

body #date-picker-div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20%;
  margin: auto; }

body #wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  margin-right: 0; }
  body #wrapper #sidebar {
    max-width: 30%;
    display: inline-block;
    overflow: scroll; }
  body #wrapper .chart {
    width: 60%; }
