@import 'mixins';

body {
	.nav-wrapper {
		@include display(flex, center, center, wrap, row);
		width: 100%;
		position: relative;
		input {
			max-width: 30%;
			margin: auto 0;
		}
	}
	#date-picker-div {
		@include display(flex, center, center, wrap, column);
		width: 20%;
		margin: auto;
	}
	#wrapper {
		@include display(flex, space-between, center, wrap, row);
		height: 100vh;
		margin-right: 0;
		#sidebar {
			max-width: 30%;
			display: inline-block;
			overflow: scroll;
		}
		.chart {
			width: 60%;
		}
	}
}